.header {
  background-color: #000;
  opacity: 0.9;
  height: 80px;
  top: 0;
  width: 100%;
  z-index: 0;
}

@media (max-width: 576px) {
  .header {
    height: 140px;
  }
}
.loadBtn {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 16%;
}
.loadBtn:disabled {
  background-color: transparent;
}
@media (max-width: 576px) {
  .loadBtn {
    top: 10%;
    left: 20%;
  }
}
h2 {
  color: #fff;
}
